private.el.gpg
*.elc
*~
/#lisp-stuff.el#
/.DS_Store
auctex
auctex-src
color-theme
doc-view
dvc
elib
emms
git-mode
magit
mo-git-blame
haskell-mode*
jd-el
jde
php-mode.el
pov-mode-3.2
quack.el
semantic.cache
thumbs
image-dired
games/snake-scores
proof-general
cedet
ecb
/games/bubbles-default-2-10-10-scores
markdown-mode

